.gallery
{
  display: flex;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.photo-card
{
    width: calc(25% - 20px);
}

.photo-card img
{
    width: 100%;
}

.info{
  display: flex;
  justify-content: space-between;
  gap: 5px;

  &-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 15px;
  }
}