.gallery
{
  display: flex;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.photo-card
{
  flex-basis: calc(25% - 20px);
}

.photo-card img
{
    width: 100%;
    display: block;
}

.info{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #69bdd6;

  &-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px 0;
  }
}